
.container{
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}
th,td{
    text-align: center;
    padding: 15px;
}
